@import 'styles/common';

.visesole-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.visesole-license-form {
  width: 500px;
  height: 303px;
  background: transparent;
}

.license-segment>.ui.segment {
  background: transparent !important;
}

.license-segment {
  margin-top: -70px;
}

.license-segment>.ui.segment {
  border: none !important;
  box-shadow: none !important;
  margin: none !important;
}

.license-text {
  font-family: SF Pro Display bold;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 57.28px;
  text-align: center;
  margin-bottom: 20px;
}

.license-form {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.license-form>.ui.button {
  padding: 0px !important;
  width: 135px !important;
  height: 35px !important;
  background-color: #121620 !important;
  margin-right: 13px !important;

  &:hover {
    background-color: #21293f !important;
  }
}

.formbtn-icon-area>p {
  @include content-font;
  font-size: 14px !important;
  line-height: 17px !important;
  padding-top: 9px !important;
  text-align: left;
  width: 100px !important;
  vertical-align: middle;
  height: 35px !important;
}

.formbtn-icon-area>img {
  margin-left: 10px;
  margin-right: 10px;
}

.formbtn-icon-area {
  display: flex;
  height: 35px !important;
}

.visesole-license-input>input:hOver {
  cursor: pointer;
  border: 1px solid white !important;
  border-right: none !important;
}