@import 'styles/common';

.mobile-license-btn-area {
  margin-top: 45px !important;
}

.mobile-license-btn-area>.ui.button {
  padding: 0px !important;
  height: 30px;
  width: 100%;
  background-color: #121620 !important;
  border-radius: 5px;
  margin-bottom: 20px;

  &:hover {
    background-color: #21293f !important;
  }
}

.mobile-formbtn-icon-area>p {
  @include font-medium;
  font-size: 14px !important;
  line-height: 17px !important;
  padding-top: 6.5px !important;
  text-align: left;
  width: 100px !important;
  vertical-align: middle;
  height: 30px !important;
}

.mobile-formbtn-icon-area>img {
  margin-left: 15px;
  margin-right: 10px;
}

.mobile-formbtn-icon-area {
  display: flex;
  width: 135px !important;
  margin-left: calc((100% - 135px) / 2) !important;
  height: 30px !important;
}

.mobile-license-helptext-area {
  position: absolute;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 30px;
  width: 100%;
}

.mobile-license-help {
  height: 12px;
  display: flex;
}

.mobile-license-help.key {
  float: left;
}

.mobile-license-help.bot {
  float: right;
}

.mobile-license-help>p {
  @include font-medium;
  font-size: calc(100vw * 0.0267) !important;
  line-height: calc(100vw * 0.032) !important;
  color: #EA3939 !important;
  padding-left: 5px;
}

.mobile-license-input {
  width: 100% !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none !important;
}

.mobile-license-input>input {
  @include mobile-creditform-normal-font;
  background: #1C222F !important;
  height: 30px !important;
  border: none !important;
}

.mobile-forminput-helptext>.svgLicenseHelp {
  height: 12px;
}

.help-success>p {
  color: #77F956 !important;
}