@import 'styles/common';

.ui.button.visesole-btn {
  @include font-medium;
  font-size: 18px !important;
  line-height: 21px !important;
  background-color: #6246D4 !important;
  color: #FFFFFF !important;

  &:hover {
    background-color: #4f30cd !important;
  }
}