@import 'styles/common';

.visesole-password {
  @include title-font-normal;
  text-align: center;
}

.visesole-images {
  user-select: none;
  position: absolute;
}

.visesole-images.svgPwdFilledCircle {
  top: 0px;
  right: 0px;
}

.visesole-images.svgPwdCircle {
  top: 8%;
  left: 0px;
  height: 40.56%;
}

.visesole-images.svgPwdWavebottom {
  width: 100%;
  left: 0px;
  bottom: 0px;
}

.visesole-images.svgPwdTopRighttLine {
  right: 0px;
  top: 0px;
  height: 34.68%;
}

.visesole-images.svgPwdDotPattern {
  top: 8.33%;
  height: 16%;
  left: 7.71%;
}

.svgMobileBottom {
  width: 100%;
  left: 0px;
  margin-top: 50px;
}